.header {
  width: 100%;
  background: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
}
.headerContainer {
  display: flex;
  box-sizing: border-box;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px 120px;

  font-size: 16px;

  line-height: 1.25;
}
.navigation {
  display: flex;
  gap: 32px;
}

/* color: var(--button-hover, #0B44CD);
text-align: center;

/* body */
/* font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; 125% */
